{% extends "base.twig" %} 

{% block title %}
Groups | Address Book
{% endblock %}

{% block content %}
<h1>{% trans "NEXT_BIRTHDAYS" %}</h1>

<table id='birthdays'>
  {% set month = "" %}
  {% set month_loop_index = 0 %}
  {% for date in dates %}
    {% if month != date["bmonth"] %}
      {% set month = date["bmonth"] %}
      
      {% if loop.index0 > 0 %}
        {% set month_loop_index = loop.index0 %}
        <tr class='tablespace'><td colspan='10'><br /></td></tr>
      {% endif %}
      
      <tr>
        <th colspan='11'>{% trans month %}</th>
      </tr>
    {% endif %}
    
    <tr class='{{ (loop.index0 - month_loop_index) % 2 ? 'odd' }}'>
      <td align=right>{{date["bday"]}}</td>
      <td>{% if date["middlename"] %}{{date["middlename"]}} {% endif %}{{date["lastname"]}}</td>
      <td>{{date["firstname"]}}</td>
      <td align='right'><i>{{date["age"]}}</i></td>
      <td><a href='{{mailer}}{{date["email"]}}'>{{date["email"]}}</a></td>
      <td>{{date["phone"]}}</td>
      <td class='center'>
        <a href='view.php?id={{date["id"]}}'>
          <img src='{{url_images}}icons/status_online.png' title='{% trans 'DETAILS' %}' alt='{% trans 'DETAILS' %}'/>
        </a>
      </td>
      {% if not read_only %}
        <td class='center'>
          <a href='edit.php?id={{date["id"]}}'>
            <img src='{{url_images}}icons/pencil.png' title='{% trans 'EDIT' %}' alt='{% trans 'EDIT' %}'/>
          </a>
        </td>
      {% endif %}
      <td class='center'>
        <a href='vcard.php?id={{date["id"]}}'>
          <img src='{{url_images}}icons/vcard.png' title='vCard' alt='vCard'/>
        </a>
      </td>

      {% if date["phone"][0] == "0" or date["phone"][:3] == "+41" %}
        {% set country = "Switzerland" %}
      {% else %}
        {% set country = "" %}
      {% endif %}
        
      {% if map_guess %}
        {%if date["address"] %}
          <td class='center'>
            <a href='http://maps.google.com/maps?q=({{date["address"]|replace({"\r\n": ", "})|trim|url_encode}}, {{country}})&amp;t=h'>
              <img src='{{url_images}}icons/car.png' title='Google Maps' alt='vCard' />
            </a>
          </td>
        {% else %}
          <td/>
        {% endif %}
      {% endif %}

      {% if date["homepage"] %}
        <td class='center'>
          <a href='{{date["homepage"]}}'>
            {% if date["homepage_guessed"] %}
              <img src='{{url_images}}icons/house.png' title='{{date["homepage"]}}' alt='{{date["homepage"]}}'/>
            {% else %}
              <img src='{{url_images}}icons/house.png' title='{% trans "GUESSED_HOMEPAGE" %} ({{date["homepage"]}})' alt='{% trans "GUESSED_HOMEPAGE" %} ({{date["homepage"]}})'/>
            {% endif %}
          </a>
        </td>
      {% else %}
        <td/>
      {% endif %}             
      
    </tr>
  {% endfor %}
</table>

{% endblock %}