{% extends "base.twig" %} 

{% block title %}
Groups | Address Book
{% endblock %}

{% block content %}
<h1>{% trans "NEXT_BIRTHDAYS" %}</h1>

<table id='birthdays'>
{% for date in dates %}
  <tr class='{{ loop.index0 % 2 ? 'odd' }}'>
    <td align=right>{{date["bday"}}</td>
    <td>{% if date["middlename"] %}{{date["middlename"]}} {% endif %}{{date["lastname"]}}</td>
    <td>{{date["firstname"]}}</td>
    <td align='right'><i>{{date["age"]}}</i></td>
    <td><a href='{{mailer}}{{date["email"]}}'>{{date["email"]}}</a></td>
    <td>{{date["phone"]}}</td>
    <td class='center'>
      <a href='view.php?id={{date["id"]}}'>
        <img src='{{url_images}}icons/status_online.png' title='{% trans 'DETAILS' %}' alt='{% trans 'DETAILS' %}'/>
      </a>
    </td>
    {% if now read_only %}
      <td class='center'>
        <a href='edit.php?id={{date["id"]}}'>
          <img src='{{url_images}}icons/pencil.png' title='{% trans 'EDIT' %}' alt='{% trans 'EDIT' %}'/>
        </a>
      </td>
    {% endif %}
    <td class='center'>
      <a href='vcard.php?id={{date["id"]}}'>
        <img src='{{url_images}}icons/vcard.png' title='vCard' alt='vCard'/>
      </a>
    </td>

    {% if date["phone"][0] == "0" or date["phone"][:3] == "+41" %}
      {% set country = "Switzerland" %}
    {% else %}
      {% set country = "" %}
    {% endif %}
      
   if($map_guess) {
        if($myrow["address"] != "")
        echo "<td class='center'><a href='http://maps.google.com/maps?q=".urlencode(trim(str_replace("\r\n", ", ", $myrow["address"])).", $country")."&amp;t=h'>
                  <img src='${url_images}icons/car.png' title='Google Maps' alt='vCard' /></a></td>";
        else echo "<td/>";
      }

      if($homepage != "") {
          $homepage = (strcasecmp(substr($homepage, 0, strlen("http")),"http")== 0
                      ? $homepage
                      : "http://".$homepage);
          echo "<td class='center'><a href='$homepage'><img src='${url_images}icons/house.png' title='$homepage' alt='$homepage'/></a></td>";
      } elseif(($homepage = guessHomepage($email, $email2)) != "") {
          echo "<td class='center'><a href='http://$homepage'><img src='${url_images}icons/house.png' title='".ucfmsg("GUESSED_HOMEPAGE")." ($homepage)' alt='".ucfmsg("GUESSED_HOMEPAGE")." ($homepage)'/></a></td>";
      } else {
        echo "<td/>";
      }             

     </tr>
{% endfor %}
</table>

{% endblock %}