{# definition of table output macros #}
{% macro addCol(col, address) %}
  {% if col == "select" %} 
    <input type='checkbox' id='{{address.data["id"]}}' name='selected[]' value='{{address.data["id"]}}' 
      title='Select ({{address.data["firstname"]}} {{address.data["lastname"]}})' 
      alt='Select ({{address.data["firstname"]}} {{address.data["lastname"]}})' />
  {% endif %}
  
  {% if col == "first_last" %}
    {{address.data["firstname"]}} {{address.data["middlename"] ? address.data["middlename"] }}{{address.data["lastname"]}}
  {% endif %}

  {% if col == "last_first" %}
    {{address.data["middlename"] ? address.data["middlename"] }}{{address.data["lastname"]}} {{address.data["firstname"]}}
  {% endif %}

  {% if col == "photo" %}
    {% if address.data["photo"] %}
      <img width=75 src='photo.php?id={{address.data["id"]}}'>
    {% endif %}
  {% endif %}

  {% if col == "email" or col == "email2" %}
    <a href='{{mailer}}{{address.emails["col"]}}'>{{address.emails["col"]}}</a>
  {% endif %}

  {% if col == "all_phones" %}
    {{ address.data["phones"]|join("<br/>")}}
  {% endif %}

  {% if col == "all_emails" %}
    {% for email in address.emails %}
      <a href='{{mailer}}{{email}}'>{{email}}</a>
      {% if not loop.last %}<br/>{% endif %}
    {% endfor %}
  {% endif %}

  {% if col == "all_groups" %}
    {% for group in address.groups %}
      <a href='index.php?group={{group}}'>{{group}}</a>
      {% if not loop.last %}<br/>{% endif %}
    {% endfor %}
  {% endif %}

  {% if col == "address" %}
    {{ address.data["address"]|replace({'\n': '<br/>'}) }}
  {% endif %}

  {% if col == "edit" %}
    <a href='view.php?id={{address.data["id"]}}'>
      <img src='{{url_images}}icons/status_online.png' title='{% trans 'DETAILS' %}' alt='{% trans 'DETAILS' %}' />
    </a>
    {% if not read_only %}
      </td>
      <td class='center'>
	<a href='edit.php?id={{address.data["id"]}}'>
	  <img src='{{url_images}}icons/pencil.png' title='{% trans 'EDIT' %}' alt='{% trans 'EDIT' %}'/>
	</a>
    {% endif %}
  {% endif %}

  {% if col == "vcard" %}
    <a href='vcard.php?id={{address.data["id"]}}'><img src='{{url_images}}icons/vcard.png' title='vCard' alt='vCard'/></a>        
  {% endif %}

  {% if col == "map" %}
    {% if map_guess %}
      {% if address.data["address"] %}
	<a href='http://maps.google.com/maps?q={{address.mapAddress}}&amp;t=h' target='_blank'>
	  <img src='{{url_images}}icons/car.png' title='Google Maps' alt='vCard'/>
	</a>
      {% endif %}
    {% endif %}
  {% endif %}

  {% if col == "homepage" %}
    {% if address.data["homepage"] %}
      <a href='address.data["homepage"]'>
	<img src='{{url_images}}icons/house.png' title='{{address.data["homepage"]}}' alt='{{address.data["homepage'"]}}/>
      </a>
    {% endif %}
    
    {# TODO: elseif({{address.data["homepage_guess && ({{address.data["homepage = guessHomepage({{address.data["email, {{address.data["email2)) != "") {
      echo "<td class='center'>";
      echo "  <a href='http://{{address.data["homepage'><img src='{{url_images}}icons/house.png' title='".ucfmsg("GUESSED_HOMEPAGE")." ({{address.data["homepage)' alt='".ucfmsg("GUESSED_HOMEPAGE")." ({{address.data["homepage)'/></a>";
      echo "
    } else {
      echo "<td/>";
    } #}                  
  {% endif %}

  {% if col == "details" %}
    <a href='vcard.php?id={{address.data["id"]}}'>
      <img src='{{url_images}}icons/vcard.png' title='vCard' alt='vCard'/>
    </a>     
    {% if map_guess %}
      {% if address.data["address"] %}
	<a href='http://maps.google.com/maps?q={{address.mapAddress}}&amp;t=h' target='_blank'>
	  <img src='{{url_images}}icons/car.png' title='Google Maps' alt='vCard'/>
	</a>
      {% endif %}
    {% endif %}
    
    {# copied from homepage case #}
    {% if address.data["homepage"] %}
      <a href='{{address.data["homepage"]}}'>
	<img src='{{url_images}}icons/house.png' title='{{address.data["homepage"]}}' alt='{{address.data["homepage'"]}}/>
      </a>
    {% endif %}                 
  {% endif %}

  {% if col == "firstname" or col == "lastname" or col == "home"
     or col == "mobile" or col == "work" or col == "fax" or col == "phone2" %}
    {{address.data[col]}}
  {% endif %}
{% endmacro %} 
